.wrap {
  display: flex;
  background: #5ABAB5;
  box-shadow: 0px 2px 8px 0px #999999;
  color: white;
  padding: 20px;
  font-size: 24px;
  align-items: center;
}

.wrap img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
}

.wrap a {
  margin: 0 15px;
  background: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #555555;
  transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}

.wrap a:hover {
  transform: scale(1.1);
}
