.userBlockWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userBlock {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

.username {
  flex: 1;
}

.email {
  flex: 1;
}
